<div class="details">
  <h3>{{ name }}</h3>
  <h4>R$ {{ value.toFixed(3) }}</h4>
</div>
<div id="spark1">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
    [responsive]="chartOptions.responsive"
    [colors]="chartOptions.colors"
  ></apx-chart>
</div>
