.details {
  color: #fff;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.card {
  background-color: #2b2d3e;
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  border-radius: 5px;
}

.value{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.box2 {
  width: 100%;
}

