#wrapper {
  background: #343e59;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
  height: 100vh;
  max-width: 100vw;
}

.body-bg {
  background: #f3f4fa !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

.container{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient(135deg, #2ec492 10%, #187a3e 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient(135deg, #e2d845 10%, #909e0f 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient(135deg, #e97878 10%, #741717 100%);
}

.small-card{
  padding-left: 10px;
  background: transparent;
  color: #fff;
  border-left: #c99654 solid 4px;
}

.output-border{
  border-left: #b33f37 solid 4px;
}

.input-border{
  border-left: #4db43f solid 4px;
}

.container-icon>p{
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.container-icon{
  display: flex;
  height: 20px;
  margin-bottom: 3px;
}

.container-icon-title{
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.container-icon>p{
  margin-right: 10px;
}

.container-value{
  display: flex;
  flex-direction: column;
}

.container-value>span{
  margin: 0;
  font-size: 12px;
}