<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
</head>

<div id="wrapper">
  <div class="content-area">
    <div class="container-fluid">
      <div class="text-right mt-3 mb-3 d-fixed"></div>
      <div class="main">
        <div class="row sparkboxes mt-4">

          <div class="col-md-3">
            <div class="box box1">
              <app-spark name="Dólar" [value]="dolarQuotationValue"></app-spark>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box box2">
              <app-spark-bank-balance name="Saldo" [value]="round(balanceActual)"></app-spark-bank-balance>
            </div>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box2"
              [icon]="cashierBankIcon"
              name="Saldo Caixa Banco Atual"
              [value]="bankBalance"
              isMonetary="true"
            ></app-card>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box3"
              [icon]="cashierBankIcon"
              name="A Receber"
              [value]="receiveBalance"
              isMonetary="true"
            ></app-card>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box4"
              [icon]="cashierBankIcon"
              name="A Pagar"
              [value]="payBalance"
              isMonetary="true"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-radial-bar-chart
                value="35733576.79"
                name="Lucro"
                percentage="42.9"
              ></app-radial-bar-chart>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <ul class="col-md-12">
                <div class="container-icon-title">
                  <h4>Romaneios</h4>
                  <fa-icon [icon]="iconFilter"></fa-icon>
                </div>
                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Peso Líquido Pendente</p>
                    <fa-icon [icon]="iconWeigth"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>KG: {{round(romaneio[0].pendingKg)}}</span>
                    <span>Sacas: {{round(romaneio[0].pendingBags)}}</span>
                  </div>
                </li>

                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Colheita</p>
                    <fa-icon [icon]="iconTractor"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>KG: {{round(romaneio[0].harvestKg)}}</span>
                    <span>Sacas: {{round(romaneio[0].harvestBags)}}</span>
                  </div>
                </li>

                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Sacas Colheita</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].harvestLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].harvestLoadAvgBags)}}</span>
                  </div>
                </li>

                <li class="small-card output-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Saída</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Saída (KG): {{round(romaneio[0].outputKg)}}</span>
                    <span>Saída (Sacas): {{round(romaneio[0].outputBags)}}</span>
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].outputLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].outputLoadAvgBags)}}</span>
                  </div>
                </li>

                <li class="small-card input-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Entrada</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Entrada (KG): {{round(romaneio[0].inputKg)}}</span>
                    <span>Entrada (Sacas): {{round(romaneio[0].inputBags)}}</span>
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].inputLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].inputLoadAvgBags)}}</span>
                  </div>
                </li>

                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Saldo Depósito</p>
                    <fa-icon [icon]="iconWareHouse"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Sacas Devolvidas: {{round(romaneio[0].returnKg)}}</span>
                    <span>Saldo Depósito: {{round(romaneio[0].warehouseBalance)}}</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box shadow mt-4">
            <app-line-chart
            [series]="mountLineSeries()"
            ></app-line-chart>
          </div>
        </div>


        <div class="row mt-4">
          <h4>Romaneios</h4>
        </div>

        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconWeigth"
              name="Peso Líquido Pendente (Kg)"
              [value]="romaneio[0].pendingKg"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconWeigth"
              name="Peso Líquido Pendente (Sacas)"
              [value]="romaneio[0].pendingBags"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconWeigth"
              name="Sacas Devolvidas"
              [value]="romaneio[0].returnKg"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconWeigth"
              name="Saldo Depósito"
              [value]="romaneio[0].warehouseBalance"
            ></app-card>
          </div>

        </div>

        <div class="row mt-4">
          <h5>Sacas Colheita</h5>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box3"
              [icon]="iconTractor"
              name="Colheita (Kg)"
              [value]="romaneio[0].harvestKg"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box3"
              [icon]="iconTractor"
              name="Colheita (Sacas)"
              [value]="romaneio[0].harvestBags"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box3"
              [icon]="iconLoad"
              name="Contagem de Cargas"
              [value]="romaneio[0].harvestLoadCount"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box3"
              [icon]="iconLoad"
              name="Média de Qtde de Sacas por Carga"
              [value]="romaneio[0].harvestLoadAvgBags"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <h5>Sacas Saída</h5>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box4"
              [icon]="iconLoad"
              name="Saídas (Kg)"
              [value]="romaneio[0].outputKg"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box4"
              [icon]="iconLoad"
              name="Saídas (Sacas)"
              [value]="romaneio[0].outputBags"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box4"
              [icon]="iconLoad"
              name="Contagem de Cargas"
              [value]="romaneio[0].outputLoadCount"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box4"
              [icon]="iconLoad"
              name="Média de Qtde de Sacas por Carga"
              [value]="romaneio[0].outputLoadAvgBags"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <h5>Sacas Entrada</h5>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box2"
              [icon]="iconLoad"
              name="Entrada (Kg)"
              [value]="romaneio[0].inputKg"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box2"
              [icon]="iconLoad"
              name="Entrada (Sacas)"
              [value]="romaneio[0].inputBags"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box2"
              [icon]="iconLoad"
              name="Contagem de Cargas"
              [value]="romaneio[0].inputLoadCount"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box2"
              [icon]="iconLoad"
              name="Média de Qtde de Sacas por Carga"
              [value]="romaneio[0].inputLoadAvgBags"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-barchart></app-barchart>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-area-chart></app-area-chart>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-charts-negotiations
                [series]="mountPercentageNegotiation()"
              ></app-charts-negotiations>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <ul class="col-md-12">
                <div class="container-icon-title">
                  <h4>Negociações</h4>
                  <fa-icon [icon]="iconFilter"></fa-icon>
                </div>
                <li class="small-card output-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Vendidas</p>
                    <fa-icon [icon]="iconDolar"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].bagsSold)}}</span>
                  </div>
                </li>

                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Sacas Estoque</p>
                    <fa-icon [icon]="iconWareHouse"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].bagsInStock)}}</span>
                  </div>
                </li>

                <li class="small-card input-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Entregues</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].bagsDelivered)}}</span>
                  </div>
                </li>

                <li class="small-card mt-4">
                  <div class="container-icon">
                    <p>Sacas a Entregar</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].bagsToDeliver)}}</span>
                  </div>
                </li>

                <li class="small-card input-border mt-4">
                  <div class="container-icon">
                    <p>Preço Médio das Negociações (Reais)</p>
                    <fa-icon [icon]="iconReal"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].avgPriceBRL)}}</span>
                  </div>
                </li>

                <li class="small-card input-border mt-4">
                  <div class="container-icon">
                    <p>Preço Médio das Negociações (Dólar)</p>
                    <fa-icon [icon]="iconDolar"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Qtd: {{round(negotiation[0].avgPriceUSD)}}</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <h4>Negociações</h4>
        </div>

        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconReal"
              name="Preço Médio das Negociações (Reais)"
              [value]="negotiation[0].avgPriceBRL"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconDolar"
              name="Preço Médio das Negociações (Dólar)"
              [value]="negotiation[0].avgPriceUSD"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <h5>Negociações de Sacas</h5>
        </div>
        <div class="row mt-4">
          <div class="col-md-3">
            <app-card
              class="container box spark-box box4"
              [icon]="iconDolar"
              name="Sacas Vendidas"
              [value]="negotiation[0].bagsSold"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box1"
              [icon]="iconWareHouse"
              name="Sacas Estoque"
              [value]="negotiation[0].bagsInStock"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box2"
              [icon]="iconLoad"
              name="Sacas Entregues"
              [value]="negotiation[0].bagsDelivered"
            ></app-card>
          </div>
          <div class="col-md-3">
            <app-card
              class="container box spark-box box3"
              [icon]="iconLoad"
              name="Sacas a entregar"
              [value]="negotiation[0].bagsToDeliver"
            ></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
