<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
</head>

<div id="wrapper">
  <div class="content-area">
    <div class="container-fluid">
      <div class="text-right mt-3 mb-3 d-fixed"></div>
      <div class="main">
        <div class="row sparkboxes mt-4">
          <div class="col-md-3">
            <div class="box box1">
              <app-spark name="Dólar" [value]="dolarQuotationValue"></app-spark>
            </div>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box2"
              [icon]="cashierBankIcon"
              name="Saldo Caixa Banco Atual"
              [value]="bankBalance"
            ></app-card>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box3"
              [icon]="cashierBankIcon"
              name="A Receber"
              [value]="receiveBalance"
            ></app-card>
          </div>

          <div class="col-md-3">
            <app-card
              class="container box box4"
              [icon]="cashierBankIcon"
              name="A Pagar"
              [value]="payBalance"
            ></app-card>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-radial-bar-chart></app-radial-bar-chart>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <div class="col-md-12">
                <div class="container-icon-title">
                  <h4>Romaneios</h4>
                  <fa-icon [icon]="iconFilter"></fa-icon>
                </div>
                <div class="small-card mt-4">
                  <div class="container-icon">
                    <p>Peso Líquido Pendente</p>
                    <fa-icon [icon]="iconWeigth"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>KG: {{round(romaneio[0].pendingKg)}}</span>
                    <span>Sacas: {{round(romaneio[0].pendingBags)}}</span>
                  </div>
                </div>

                <div class="small-card mt-4">
                  <div class="container-icon">
                    <p>Colheita</p>
                    <fa-icon [icon]="iconTractor"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>KG: {{round(romaneio[0].harvestKg)}}</span>
                    <span>Sacas: {{round(romaneio[0].harvestBags)}}</span>
                  </div>
                </div>

                <div class="small-card mt-4">
                  <div class="container-icon">
                    <p>Sacas Colheita</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].harvestLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].harvestLoadAvgBags)}}</span>
                  </div>
                </div>

                <div class="small-card output-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Saída</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Saída (KG): {{round(romaneio[0].outputKg)}}</span>
                    <span>Saída (Sacas): {{round(romaneio[0].outputBags)}}</span>
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].outputLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].outputLoadAvgBags)}}</span>
                  </div>
                </div>

                <div class="small-card input-border mt-4">
                  <div class="container-icon">
                    <p>Sacas Entrada (Exceto Colheita)</p>
                    <fa-icon [icon]="iconLoad"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Saída (KG): {{round(romaneio[0].inputKg)}}</span>
                    <span>Saída (Sacas): {{round(romaneio[0].inputBags)}}</span>
                    <span>Contagem de Cargas (Sacas): {{round(romaneio[0].inputLoadCount)}}</span>
                    <span>Média de Qtde de Sacas por Carga: {{round(romaneio[0].inputLoadAvgBags)}}</span>
                  </div>
                </div>

                <div class="small-card mt-4">
                  <div class="container-icon">
                    <p>Saldo Depósito</p>
                    <fa-icon [icon]="iconWareHouse"></fa-icon>
                  </div>
                  <div class="container-value">
                    <span>Sacas Devolvidas: {{round(romaneio[0].returnKg)}}</span>
                    <span>Saldo Depósito: {{round(romaneio[0].warehouseBalance)}}</span>
                  </div>
                </div>



              </div>
            </div>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-barchart></app-barchart>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box shadow mt-4">
              <app-area-chart></app-area-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
